body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #222;
    padding: 15px;
    height: 100vh;
    color: white;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.main-content {
    padding: 20px;
    flex-grow: 1;
}

.management {
    margin: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

table th,
table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #333;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

table tr {
    border-bottom: 1px solid #ddd;
}

table tr:hover {
    background-color: #f1f1f1;
}

table tr:last-of-type {
    border-bottom: 2px solid #333;
}

table td {
    color: #333;
}

table th:first-of-type,
table td:first-of-type {
    text-align: center;
}

/* Responsive Table */
@media (max-width: 600px) {
    table {
        font-size: 16px;
    }

    table th,
    table td {
        padding: 8px 10px;
    }
}

